################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InstaDataProcessor/.vs
/RegistrarInventario/.vs
/Workath/.vs
/TablaAzar/.vs
